{% extends 'base/base.html' %}

{% block title %}create courses{% endblock %}

{% block content %}
<form method="post" action="{% url 'create_courses' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="col-7">
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Title Of Course: </h5>
                </div>
                {{ form.title|add_class:"form-control border-2 border-warning mb-3" |attr:"placeholder:Enter Your Course Title" }}
            </div>
        </div>
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Description: </h5>
                </div>
                {{ form.description|add_class:"form-control border-2 border-warning mb-3" |attr:"placeholder:Enter Your Course description" }}
            </div>
        </div>
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Course Start Date: </h5>
                </div>
                {{ form.start_date|add_class:"form-control border-2 border-warning mb-3" }}
            </div>
        </div>
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Course End Date: </h5>
                </div>
                {{ form.end_date|add_class:"form-control border-2 border-warning mb-3" }}
            </div>
        </div>
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Course image: </h5>
                </div>
                {{ form.image|add_class:"form-control border-2 border-warning mb-3" }}
            </div>
        </div>
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Course Catagory: </h5>
                </div>
                {{ form.category|add_class:"form-control border-2 border-warning mb-3" }}
            </div>
        </div>
        <div class="row col-lg">
            <div class=" col-md-6 input-group ">
                <div class="input-group">
                    <h5>Course Creator: </h5>
                </div>
                {{ form.course_creator|add_class:"form-control border-2 border-warning mb-3" }}
            </div>
        </div>
        <button type="submit" class="btn btn-warning w-25 p-3">Create Course</button>
    </div>
</form>
{% endblock %}