{% extends 'base/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <form method="post" >
        {% csrf_token %}
        {% load widget_tweaks %}
        <h1>Reset Your Password</h1>
        <div class="col-7">
            <div class="input-group">
                <div class="input-group me-4">
                    <h5>Old Password:</h5>
                </div>
                {{ form.old_password|add_class:"form-control border-2 border-warning"|attr:"placeholder:Enter Your old password" }}
            </div>
            <p class="mb-3 ">Enter your account's old password</p>
        </div>

        <div class="col-7">
            <div class="input-group">
                <div class="input-group me-4">
                    <h5>New Password:</h5>
                </div>
                {{ form.new_password1|add_class:"form-control border-2 border-warning "|attr:"placeholder:Enter Your new password" }}
            </div>
            <p class="mb-3">Your password can't be too similar to your other personal information.</br>
                Your password must contain at least 8 characters.</br>
                Your password can't be a commonly used password.</br>
                Your password can't be entirely numeric.</p>
        </div>

        <div class="col-7">
            <div class="input-group">
                <div class="input-group me-4">
                    <h5>New password confirmation:</h5>
                </div>
                {{ form.new_password2|add_class:"form-control border-2 border-warning "|attr:"placeholder:Enter Your new Confirm password" }}
            </div>
            <p class="mb-5">Enter the same password as before, for verification.</p>
        </div>
        <button type="submit" class="btn btn-warning w-25 p-3">Change Password</button>
    </form>
{% endblock %}